body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(237, 255, 255);
  }
  
nav{
    background-color: #2d6491;
}
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  li {
    margin: 0;
  }
  
  a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
  }
  
  a:hover {
    background-color: #e22d2d;
  }
  #monh{
    text-align: center;
  }
.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 400px;
    width: 100%;
}

.contact-form {
    padding: 20px;
}

#contacth {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}
